// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  height: 75px;

  h1 {
    float: left;
    width: 100px;
  }

  #nav {
    float: left;
  }
}

#current_status {
  float: left;
  width: 150px;

  label {
    border: 1px solid black;
    margin: 0 5px 0 0;
  }

  span {
    font-weight: bold;
    font-size: 125%;
  }
}

#chart {
  position: absolute;
  top: 75px;
  bottom: 15px;
  right: 20px;
  left: 15px;
}